@using MyOnlineNotesEntities

@model List<Note>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            @*kategoriler*@
            @Html.Partial("_PartialCategories")
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <br />

            @*NOTLAR*@
            <div class="row">

                @foreach (Note note in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4" data-note-id="@note.Id">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTfKG9okogOyQvSBHNbMoDkIdkqB3MOOt3Aa0WT2LXKOTxcpPYl" alt="@note.Title"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">
                                        @note.Title
                                    </a>
                                </h4>
                                <p>
                                    <span class="fas fa-calendar-alt mr-1"></span>@note.ModifiedOn.ToString()<br />
                                    <span class="fas fa-user-tie mr-1"></span>@note.Owner.Username<br />
                                </p>
                                <hr />

                                @if (string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 70)
                                {

                                    <p> @(note.Text.Substring(0, 70) + "...")</p>
                                    <p>
                                        <a href="#" data-toggle="modal" 
                                           data-target="#modal_noteDetail" data-note-id="@note.Id"
                                           class="btn btn-dark btn-sm ">
                                            devamı <span class="fas fa-arrow-right"></span>
                                        </a>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        @note.Text
                                    </p>
                                }

                            </div>
                            <div>
                                <p class="float-right mr-4">
                                    <button type="button" class="btn btn-dark"  data-toggle="modal" data-target="#modal_comment" data-note-id="@note.Id">
                                        <span class="glyphicon glyphicon-comment mr-2"></span>Yorumlar
                                    </button>
                                </p>
                                <p>
                                    <button id="test" class=" float-left ml-2  btn-sm btn btn-warning" type="button" 
                                            data-liked="false" data-note-id="@note.Id">
                                        <span class="glyphicon glyphicon-star-empty like-star"></span>&nbsp;
                                        <span class="like-count"> @note.LikeCount</span>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                }


            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


@section footer {
    @Html.Partial("_PartialFooter")
}


@BootstrapHelper.ModalPopup(id:"modal_comment", title:"Yorumlar")
@BootstrapHelper.ModalPopup(id:"modal_noteDetail", title:"Not Detayı")



<script src="~/Comment.js"></script>
<script src="~/like.js"></script>
<script src="~/NoteDetailPopUp.js"></script>