@using MyOnlineNotesWebApp

@model IEnumerable<MyOnlineNotesEntities.Category>

@{
    ViewBag.Title = "Kategoriler";
}




    <div class="row">
        <div class="col-md-10 offset-1">
            <h2>Kategoriler</h2><hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 offset-1">
            <p>
                <a href="/Category/Create" class="btn btn-lg btn-primary">
                    <span class="fas fa-plus-square mr-1"></span>Create
                </a>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedUsername)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedUsername)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>

                            <!-- Butonları her seferinde tek tek oluşturmak yerine BootstrapHelper classımı kullanarak oluşturuyorum bu sayede merkezileştirme işlemi sağlanmış oluyor -->
                            @BootstrapHelper.LinkButton("/Category/Edit/"+item.Id, "warning", " btn-sm", "Edit", "fas fa-edit", string.Empty)
                            @BootstrapHelper.LinkButton("/Category/Details/"+item.Id, "info", " btn-sm", "Details", "fas fa-search", string.Empty)
                            @BootstrapHelper.LinkButton("/Category/Delete/"+item.Id, "danger", " btn-sm", "Delete", "fas fa-trash-alt", string.Empty)


                            @*
                                <a href= class="btn btn-sm btn-warning" title="Edit">
                                    <span class="fas fa-edit"></span>
                                </a>

                                <a href="/Category/Details/@item.Id" class="btn btn-sm btn-" title="Details">
                                    <span class="fas fa-search "></span>
                                </a>

                                <a href="/Category/Delete/@item.Id" class="btn btn-sm btn-danger" title="Delete">
                                    <span class="fas fa-trash-alt"></span>
                                </a>
                            *@

                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>





