@model MyOnlineNotesEntities.Note

@{
    ViewBag.Title = "Delete";
}


<div class="row">
    <div class="col-md-10 offset-1">
        <h2>@ViewBag.Title</h2><hr />
    </div>
</div>

<div class="row">

    <div class="col-md-8 offset-2">
        <h3 class="text-danger">Are you sure you want to delete this?</h3>
        <div>
            <h4>Note</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedOn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedUsername)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedUsername)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Text)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Text)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDraft)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDraft)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">

                    @BootstrapHelper.Button("danger", string.Empty, "submit", "fa fa-trash", "Delete")
                    @BootstrapHelper.LinkButton("/Note/Index/", "info", string.Empty, string.Empty, "fas fa-arrow-left", "Listeye Dön")

                </div>
            }
        </div>
    </div>
</div>






