@using MyOnlineNotesWebApp
@model IEnumerable<MyOnlineNotesEntities.OnlineNoteUser>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/validation-summary.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-10 offset-1">
        <h2>Kullanıcılar</h2><hr />
    </div>
</div>



<div class="row">
    <div class="col-md-10 offset-1">
        <p>
            <a href="/User/Create" class="btn btn-lg btn-primary">
                <span class="fas fa-plus-square mr-1"></span>Create
            </a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUsername)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedUsername)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                    </td>
                    <td>
                        @BootstrapHelper.LinkButton("/User/Edit/" + item.Id, "warning", " btn-sm", "Edit", "fas fa-edit", string.Empty)
                        @BootstrapHelper.LinkButton("/User/Details/" + item.Id, "info", " btn-sm", "Details", "fas fa-search", string.Empty)
                        @BootstrapHelper.LinkButton("/User/Delete/" + item.Id, "danger", " btn-sm", "Delete", "fas fa-trash-alt", string.Empty)
                    </td>
                </tr>
            }

        </table>
    </div>

</div>
